

body {
    background-color: lightgray;
    margin: 0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 850px;      
}

header {
    height: 400px;
    margin-bottom: 10px;
}

#blueHeaderBox {
    background-color: rgb(89, 89, 170);
    height: 85%;
    margin: 0 auto;
}

#blueHeaderBox h1, h2 {
    position: relative;
    color: white;
    left: 225px;
    top: 50px;
    margin: 5px;
    padding: 0;
}

#profileBox {
 
    background-color: rgb(89, 89, 170);
    border: 1px solid black;
    width: 200px;
    height: 200px;
    position: relative;
    top: 175px;
    left: 15px;
}

#whiteHeaderBox {
    background-color: white;
    width: 850px;
    height: 15%;
    margin: 0 auto;
}

#list {
    padding: 0;
    display: inline-block;
    margin-left: 225px;
}

#list li {
    list-style-type: none;
    padding: 10px;
    display: inline;
    border-left: 1px solid rgb(212, 212, 212);
}

#list li:first-child {
    border: none;
    font-weight: bold;
}

#buttons {
    float: right;
    font-size: 0;
    position: relative;
    top: 25px;
}

#likeButton {
    border-radius: 5px;
}

#buttons button {
    border: 1px solid grey;
    background-color: white;
    padding: 5px 8px;
    margin: 0;
    height: 30px;
}

#buttons button:nth-child(2) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
    margin-left: 10px;
    
}

#buttons button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0;
    margin-right: 15px;
}

.overlay {
    filter: grayscale();
}

.leftColumn {
    width: 308px;
    float: left;    
    background-color: white;
    padding: 10px;
    margin-right: 10px;
}

#aboutTop {
    border-bottom: 1px solid grey;
    color: rgb(110, 110, 110);
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: small;
    font-weight: bold;
}

#arrow {
    position: relative;
    float: right;
}

#aboutBottom {
    color: rgb(110, 110, 110);
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

#address {
    color: darkgrey;
    position: relative;
    left: 20px;
    padding-bottom: 8px;
}

#number {
    color: rgb(89, 89, 170);
}

.rightColumn {
    width: 512px;
    float: right;
    background-color: white;
    padding: 0;
    height: 300px;
}

#smallPostBlueBox {
    background-color: rgb(89, 89, 170);
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}

#postInfo {
    position: relative;
    left: 15px;
    top: 20px;
    color: grey;
    font-size: small;
}

#boldBlueText {
    font-weight: bold;
    color: rgb(89, 89, 170);
}

#blueText {
    color: rgb(89, 89, 170);
}

#largePostBlueBox {
    background-color: rgb(89, 89, 170);
    width: 502px;
    height: 180px;
    position: relative;
    top: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

#postBottom {
    border-top: 1px solid grey;
    color: rgb(89, 89, 170);
    height: 40px;
    position: relative;
    top: 45px;
    
}

#postLinks {
    margin: 15px;
    position: relative;
    top: 10px;
    font-size: small;
}