* {
    
    
}

body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 400px;
}

#blueHeaderBox {
    background-color: rgb(89, 89, 170);
    width: 850px;
    height: 85%;
    margin: 0 auto;
}

#blueHeaderBox h1, h2 {
    position: relative;
    color: white;
    left: 225px;
    top: 50px;
    margin: 0;
    padding: 0;
}

#whiteHeaderBox {
    background-color: white;
    width: 850px;
    height: 15%;
    margin: 0 auto;
}

#whiteHeaderBox ul {
    padding: 0;
    display: inline-block;
}

#whiteHeaderBox ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#profileBox {
 
    background-color: rgb(89, 89, 170);
    border: 1px solid black;
    width: 200px;
    height: 200px;
    position: relative;
    top: 175px;
    left: 15px;
}
/*
#BlueBox {
    background-color: rgb(80, 80, 194);
    height: 80%;
    width: 850px;
    margin: 0 auto;
    color: white;
}

#WhiteBox {
    background-color: whitesmoke;
    height: 20%;
    width: 850px;
    margin: 0 auto;

}

#WhiteBox ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#ProfileBox {
 
    background-color: rgb(80, 80, 194);
    border: 1px solid black;
    width: 50px;
    height: 50px;
}
 /*  
    position: absolute;
    top: 100px;
    left: 200px;
*/
